h1{
	text-align: center;
	margin-bottom: 50px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#container{
	position: relative;
	display: block;
	margin: auto;
	width: 960px;
}

#background{
	width:960px; 
	height:600px;
}

#character{
	position: absolute;
	bottom: 0px;
	right: 375px;
	bottom: 3px;
}

#textBox{
	position: absolute;
	width:960px; 
	height:200px;
	bottom: 3px;
	opacity: 0.85;
	background-color: black;
}

#text{
	width: 930px;
	position: relative;
	color: white;
	font-size: 200%;
	top: -10px;
	left: 20px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#action1{
	position: absolute;
	width:960px; 
	height: 66px;
	bottom: 136px;
	opacity: 0.85;
	visibility: hidden;
}

#action1:hover > p {
	color: red;
}

#action2{
	position: absolute;
	width:960px; 
	height: 66px;
	bottom: 70px;
	opacity: 0.85;
	visibility: hidden;
}

#action2:hover > p {
	color: red;
}

#action3{
	position: absolute;
	width:960px; 
	height:66px;
	bottom: 3px;
	opacity: 0.85;
	visibility: hidden;
}

#action3:hover > p {
	color: red;
}