h1{
	text-align: center;
	margin-bottom: 50px;
}

#container{
	position: relative;
	display: block;
	margin: auto;
	width: 960px;
}

#background{
	width:960px; 
	height:600px;
}

#character{
	position: absolute;
	bottom: 0px;
	right: 350px;
	bottom: 3px;
}

#textBox{
	position: absolute;
	width:960px; 
	height:200px;
	bottom: 3px;
	opacity: 0.6;
	background-color: black;
}

