
body{
	background-image: url('berkeley2.jpg');
	background-attachment: fixed;
	background-size: 100%;	
	background-attachment: fixed;
}

 #wrapper {
    margin-left:auto;
    margin-right:auto;
    width: 1200px;
}

.button{
	background-color: black;	
	display: inline;
	vertical-align: bottom;
	border-style: solid;
	border-radius: 1;
	position: relative;
	padding-top: 0.2em;
	padding-bottom: 0.5em;
	padding-left: 8%;
	padding-right: 8%;
	font-family: 'Trebuchet MS' 'san-serif';
	font-size: 1.5em;
	color: white;

}

#bigname{
	width: 1230px;
	height: 600px;
	margin-right:auto;
	margin-left:auto;
	margin-top: 30px; 
	background-color: black;
	color: white;
	text-align: center;
	border: solid;
	border-color: white;
	background: rgba(0, 0, 0, 0.7);


}

#adj{
	margin-top: 200px;
	padding: 20px;
	font-family: 'Century Gothic', 'san-serif';
	font-size: 120px;
	background: rgba(0, 0, 0, 0.7);

}

#goto1{}

#goto2{}

#goto3{}

#goto4{}

#aboutme{
	width: 1230px;
	height: 600px;
	margin-right:auto;
	margin-left:auto;
	margin-top: 20px; 
	background-color: black;
	border: solid;
	border-color: white;
	background: rgba(0, 0, 0, 0.7);

}

#mypic{
	width: 270px;
	height: 400px;
	margin-left: 35px;
	margin-right: 60px;
	float: left;
}


#experience{
	width: 1230px;
	height: 600px;
	margin-right:auto;
	margin-left:auto;
	margin-top: 20px; 
	background-color: black;
	border: solid;
	border-color: white;
	background: rgba(0, 0, 0, 0.7);

}

#projects{
	width: 1230px;
	height: 600px;
	margin-right:auto;
	margin-left:auto;
	margin-top: 20px; 
	background-color: black;
	border: solid;
	border-color: white;
	background: rgba(0, 0, 0, 0.7);

}

#contact{
	width: 1230px;
	height: 600px;
	margin-right:auto;
	margin-left:auto;
	margin-top: 20px; 
	background-color: black;
	border: solid;
	border-color: white;
	background: rgba(0, 0, 0, 0.7);

}

h1{
	color:white;
	font-size: 70px;
	font-family: 'Century Gothic', 'san-serif';
}

p{
	color:white;
	font-size: 30px;
	font-family: 'Century Gothic', 'san-serif';
}

ul{
	color: white;
	font-size: 30px;
	font-family: 'Century Gothic', 'san-serif';
	padding-left: 130px;
}

