.button{
	width: 60px;
	height: 80px;
	background-color: #9494B8;	
	display: inline;
	border-radius: 1;
	position: relative;
	padding-bottom: 20px;
	padding-left: 8.5%;
	padding-right: 8.5%;
	margin: 0, auto;
	font-family: cursive;
	font-size: 25px;

}

#bigname{
	width: 90%;
	height: 250px;
	margin-right:auto;
	margin-left:auto;
	margin-top: 80px; 
	background-color: black;
	font-size: 50px;
	color: white;
	text-align: center;
	font-family: sans-serif;



}

#adj{
	padding-top: 100px;
}